

.feedback_container input{
    width:400px
}
.feedback_container textarea{
    width:400px;
    height:300px
}

.feedback_container{
    display:grid;
    grid-template-columns: 1fr 1fr;
    
    }
    
    
    .feedback_form{
        grid-column: 1;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        top:220px;
        border-right: 2px solid rgba(0, 0, 0, 0.488);
    }
    .feedback_form h2{
        color:rgba(0, 0, 0, 0.758)
    }
    .feedback_form *{
    
        width:400px;
        margin:6px;
        height:30px;
    }
    .feedback_container img {
        position: relative;
        top:250px;
        grid-column: 2;
        width:400px;
        margin-left:200px
    }
   

    .feedback_form button:hover{
        background-color: #4090d282;
        border:none;
        border-radius: 2px;
      
    
    }
    
    .feedback_form button{
        background-color: rgba(237, 237, 237, 0.379);
        border: 1px solid rgba(205, 202, 202, 0.511);
        width:100px;
        height:35px;
        font-size: 14px;
        color:rgb(107, 104, 104);
    }
  