
* {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-weight: 900;
  }

.item_card_dashboard_container  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 20px;
 
}
.item_card_dashboard {
    width:380px;
    height:120px;
    background-color: rgba(237, 237, 237, 0.379);
    border: 2px solid rgba(205, 202, 202, 0.511);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(10,30px);
    padding:5px;

    align-items: center;
    
}
.item_card_dashboard *{
    margin:0px;
    padding:0px;
   line-height:1em;
   text-align: left;
}
.item_card_image_dashboard{
    grid-column: 1;
    grid-row: 1/5;
    width:115px;
    height:100px;
    margin-right:10px;
    margin-left:0px;
}
.item_card_title_dashboard {
    
    grid-column: 2/4;
}

.item_card_price_dashboard {
    grid-column: 2;
}

.item_card_type_dashboard {
    grid-column: 3;
}

.item_card_status_dashboard {
    grid-column: 2;
}
.item_card_userName_dashboard {
    
}

.item_card_likes_dashboard {
    grid-column: 2;
}

.item_card_addToFavorite_dashboard  {
    grid-column:3;
    width:80px;
    height:20px;
    font-size: 8px;
}
